// Theme colors
//$color-primary: #12868e;
//$color-secondary: #00646b;
//$color-accent:#08C1C7;

$color-dark: #242424;
$color-light:#ffffff;
$color-lightess:#d8d8d8;

$color-accent:#0496ff;
$color-primary: #0073C5;
$color-secondary: #005591;
$color-tertiary:#013458;