.project-grid,.project-grid-editor-preview {
  display: grid;
     grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 4rem;
}

.project-grid-item {
  border: 1px solid #ccc;
  padding:0;
  background: #fff;
  margin-bottom: 1.6rem;
  cursor: pointer;
  max-height: 400px;
}

.project-grid-item {
  position: relative;
}
.project-grid-item a{
  position: relative !important;
    z-index: 10 !important;
}
.project-grid-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 11;
   pointer-events: none;
}

.project-grid-item:hover::before {
  opacity: 1;
}


.project-grid-item .linkTitle,.project-grid-item .linkTitle a {
  font-size: 1.3rem;
  margin: 0.5rem 0;
   font-weight: 400;
  color:#0073C5!important;
}

.project-grid-item .linkTitle:hover , .project-grid-item .linkTitle a:hover  {
  color:#005591!important;
  text-decoration: underline;
  text-decoration-color: #005591;
}


.project-grid-item img {
  width: 100%;
  display: block;
   aspect-ratio: 16 / 9;
    object-fit: cover;
    object-position: top;
    max-height: 400px;
    height: 100%;

}
.project
.project-grid-editor-preview {
  background: #f9f9f9;
  padding: 1rem;
}

.preview-item {
  border: 1px solid #ccc;
  padding: 1rem;
  margin-bottom: 1rem;
}

.project-grid-pagination{
  width: 100%;
  display: flex;
  margin-top: 2rem!important;
  justify-content: end;
  gap: 4px;
  padding-inline: .75rem;
}

.grid-next,.grid-prev{
  padding: 6px 25px;
  font-size: 1.7rem;
  color: #fff;
  background-color: #0073C5;
  border: none;
  cursor: pointer;
}
.grid-next:hover,.grid-prev:hover{
    background-color: #024c81;
}

@media (max-width:1024px){
.project-grid{
     grid-template-columns: repeat(2, 1fr);
  }
}


@media (max-width:576px){
      .project-grid{
     grid-template-columns: repeat(1, 1fr);
  }
}

